
<table class="table-borderless" summary="Table summary">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr id="contactRow{{$index}}" ng-repeat="contact in contacts">
    <td id="contactName{{$index}}" title="Name">{{contact.name}}</td>
    <td id="contactEmail{{$index}}" title="Email">{{contact.email}}</td>
    <td id="contactPhone{{$index}}" title="Phone">{{contact.phone}}</td>
  </tr>
  </tbody>
</table>
