    <h2 lang="en">Contact List</h2>
<table class="table-borderless" summary="Table summary">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr id="contactRow{{$index}}" ng-repeat="contact in contacts">
      <td title="Name" id="contactName{{$index}}">{{ contact.name }}</td>
      <td title="Email" id="contactEmail{{$index}}">{{ contact.email}}</td>
      <td title="Phone" id="contactPhone{{$index}}">{{ contact.phone}}</td>
  </tr>
  </tbody>
</table>
