<div class="form_information">
  <div class="form-horizontal">
    <div class="form-group mt40">
      <div class="col-sm-12 text-left">
        <p>All fields are required unless marked as optional.</p>
      </div>
      <div class="col-sm-12 text-left">
        <label class="uscis-label">Location</label>
      </div>
      <div class="col-sm-12">
        <div class="width534">



          <select ng-model="appointmentLocation" name="userSubType" id="userSubType" class="select drop-down-box" title="User type is required">
            <option value="">- Select One</option>

            <option value="1">Location 1</option>
            <option value="3">Location 2</option>
            <option value="2">Location 3</option>
            <option value="4">Location 4</option></select>

        </div>
      </div>
      <button lang="en" class="uscis-button col-span-4 mobile-full with-margin-right-30 right-to-left rtl-direction"
              ng-click="updateLocation()">See Available Appointments</button>
    </div>
    </div>
  </div>

<div ng-show="showTimeSlots">
<h2 lang="en">Available TimeSlots</h2>
<table class="table-borderless" summary="Table su mmary">
  <thead>
  <tr>
    <th scope="col">Timeslot</th>
    <th scope="col">Available</th>
  </tr>
  </thead>
  <tbody>
  <tr id="timeslotRow{{$index}}" ng-repeat="timeslot in timeslots">
    <td title="Timeslot" id="Timeslot{{$index}}">{{ timeslot.title}}</td>
    <td title="Available" id="available{{$index}}">{{ timeslot.available}}</td>
  </tr>
  </tbody>
</table>
</div>


