<div class="form_information">
  <div class="form-horizontal">
    <div class="form-group mt40">
      <div class="col-sm-12 text-left">
        <p>All fields are required unless marked as optional.</p>
      </div>
      <div class="col-sm-12 text-left">
        <label class="uscis-label">User Type</label>
      </div>
      <div class="col-sm-12">
        <div class="width534">



          <select name="userSubType" id="userSubType" class="select drop-down-box" title="User type is required"><option value="">- Select One</option>




            <option value="1">Applicant</option>
            <option value="3">Petitioner Filing for Employee</option>
            <option value="2">Petitioner Filing for Relative</option>
            <option value="4">Petitioner Filing for Self</option></select>


        </div>
      </div>
    </div>
    <div class="form-group mt40">
      <div class="col-sm-12 text-left">
        <label>Salutation</label>&nbsp;
        <span class="optional">(optional)</span>
      </div>
      <div class="col-sm-12">
        <div class="width534">
          <select name="customerSalutation" id="customerSalutation" class="select drop-down-box" title="Salutation is optional"><option value="">- Select One</option>



            <option value="1">Mr.</option>
            <option value="2">Mrs.</option>
            <option value="3">Ms.</option></select>
        </div>
      </div>
    </div>
    <div class="form-group mt50">
      <div class="col-sm-12 text-left">
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="row">
            <label>First Name</label>
            <input type="text" name="firstName" maxlength="64" value="" id="firstName" class="form-control small_textbox initial-focus" title="First name is required">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label>Middle</label>&nbsp;
            <span class="optional">(optional)</span>
            <input type="text" name="middleName" maxlength="64" value="" id="middleName" class="form-control small_textbox" title="Middle name is optional">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label>Last Name</label>
            <input type="text" name="lastName" maxlength="64" value="" id="lastName" class="form-control small_textbox" title="Last name is required">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group mt40">
      <div class="col-sm-12 text-left">
        <label>Suffix</label>&nbsp;
        <span class="optional">(optional)</span>
      </div>
      <div class="col-sm-12">
        <div class="width534">
          <select name="customerSuffix" id="customerSuffix" class="select drop-down-box" title="Suffix is optional"><option value="">- Select One</option>



            <option value="1">Senior</option>
            <option value="2">Junior</option>
            <option value="3">I</option>
            <option value="4">II</option>
            <option value="8">III</option>
            <option value="9">IV</option></select>
        </div>
      </div>
    </div>
    <div class="form-group mt40">
      <div class="col-sm-12 text-left">
        <label>Country/Region</label>
      </div>
      <div class="col-sm-12">
        <div class="width534">
          <select name="country" id="country" class="select drop-down-box" title="Country/Region is required"><option value="">- Select One</option>






            <option value="478">United States of America</option>


            <option value="1">Abu Dhabi (United Arab Emirates) </option>
            <option value="2">Admiralty Islands (Papua New Guinea)</option>
            <option value="3">Afghanistan  </option>
            <option value="4">Aitutaki (Cook Islands) (New Zealand) </option>
            <option value="5">Ajman (United Arab Emirates)  </option>
            <option value="6">Aland Island (Finland)</option>
            <option value="7">Albania</option>
            <option value="8">Alderney, Channel Islands (Great Britain) </option>
            <option value="9">Algeria</option>
            <option value="10">Alhucemas (Spain)  </option>
            <option value="11">Alofi Island (New Caledonia)</option>
            <option value="12">Andaman Islands (India) </option>
            <option value="13">Andorra  </option>
            <option value="14">Angola</option>
            <option value="15">Anguilla  </option>
            <option value="16">Anjouan (Comoros)  </option>
            <option value="17">Annobon Island (Equatorial Guinea)</option>
            <option value="18">Antigua and Barbuda </option>
            <option value="19">Argentina </option>
            <option value="20">Armenia  </option>
            <option value="21">Aruba  </option>
            <option value="22">Ascension</option>
            <option value="23">Astypalaia (Greece) </option>
            <option value="24">Atafu (Western Samoa) </option>
            <option value="25">Atiu (Cook Islands) (New Zealand) </option>
            <option value="26">Australia  </option>
            <option value="27">Austria</option>
            <option value="28">Avarua (New Zealand)  </option>
            <option value="29">Azerbaijan</option>
            <option value="30">Azores (Portugal) </option>
            <option value="31">Bahamas </option>
            <option value="32">Bahrain</option>
            <option value="33">Baker Island</option>
            <option value="34">Balearic Islands (Spain) </option>
            <option value="35">Baluchistan (Pakistan)  </option>
            <option value="36">Bangladesh  </option>
            <option value="37">Banks Island (Vanuatu)  </option>
            <option value="38">Barbados </option>
            <option value="39">Barbuda (Antigua and Barbuda) </option>
            <option value="40">Barthelemy (Guadeloupe)  </option>
            <option value="41">Belarus</option>
            <option value="42">Belgium  </option>
            <option value="43">Belize </option>
            <option value="44">Benin  </option>
            <option value="45">Bermuda </option>
            <option value="46">Bhutan</option>
            <option value="47">Bismark Archipelago (Papua New Guinea)</option>
            <option value="48">Bolivia </option>
            <option value="49">Bonaire (Netherlands Antilles)  </option>
            <option value="50">Borabora (French Polynesia)</option>
            <option value="51">Borneo (Kalimantan) (Indonesia)  </option>
            <option value="52">Borneo (North) (Malaysia)  </option>
            <option value="53">Bosnia-Herzegovina </option>
            <option value="54">Botswana </option>
            <option value="55">Bougainville (Papua New Guinea) </option>
            <option value="56">Bourbon (Reunion)  </option>
            <option value="57">Brazil  </option>
            <option value="58">British Guiana (Guyana) </option>
            <option value="59">British Honduras (Belize)</option>
            <option value="60">British Virgin Islands </option>
            <option value="61">Brunei Darussalam  </option>
            <option value="62">Buka (Papua New Guinea) </option>
            <option value="63">Bulgaria  </option>
            <option value="64">Burkina Faso </option>
            <option value="65">Burma </option>
            <option value="66">Burundi</option>
            <option value="67">Caicos Islands (Turks and Caicos Islands)</option>
            <option value="68">Cambodia</option>
            <option value="69">Cameroon</option>
            <option value="70">Canada</option>
            <option value="71">Canary Islands (Spain)  </option>
            <option value="72">Canton Island (Kiribati)  </option>
            <option value="73">Cape Verde  </option>
            <option value="74">Cayman Islands </option>
            <option value="75">Central African Rep </option>
            <option value="76">Ceuta (Spain) </option>
            <option value="77">Ceylon (Sri Lanka)</option>
            <option value="78">Chad  </option>
            <option value="79">Chaferinas Islands (Spain)  </option>
            <option value="80">Chalki (Greece)  </option>
            <option value="81">Channel Islands (Jersey, Guernsey, Alderney and Sark) (Great Bri</option>
            <option value="82">Chile</option>
            <option value="83">China  </option>
            <option value="84">Christiansted, US Virgin Islands</option>
            <option value="85">Christmas Island (Australia) </option>
            <option value="86">Christmas Island (Kiribati)  </option>
            <option value="87">Chuuk (Truk), Micronesia </option>
            <option value="88">Cocos Island (Australia) </option>
            <option value="89">Colombia </option>
            <option value="90">Comoros </option>
            <option value="91">Congo, Democratic Republic of the</option>
            <option value="92">Congo, Republic of the (Brazzaville)  </option>
            <option value="93">Cook Islands (New Zealand)</option>
            <option value="95">Corisco Island (Equatorial Guinea) </option>
            <option value="94">Corsica (France) </option>
            <option value="96">Costa Rica</option>
            <option value="98">Crete (Greece)</option>
            <option value="99">Croatia</option>
            <option value="100">Cuba  </option>
            <option value="101">Cumino Island (Malta)</option>
            <option value="102">Curacao (Netherlands Antilles) </option>
            <option value="103">Cyjrenaica (Libya)</option>
            <option value="104">Cyprus</option>
            <option value="105">Czech Republic  </option>
            <option value="106">Dahomey (Benin) </option>
            <option value="107">Damao (India)</option>
            <option value="108">Danger Islands (New Zealand) </option>
            <option value="109">Denmark </option>
            <option value="110">Desirade Island (Guadeloupe)  </option>
            <option value="111">Diu (India) </option>
            <option value="112">Djibouti</option>
            <option value="113">Dodecanese Islands (Greece)  </option>
            <option value="114">Doha (Qatar) </option>
            <option value="115">Dominica </option>
            <option value="116">Dominican Republic </option>
            <option value="117">Dubai (United Arab Emirates)  </option>
            <option value="118">East Timor (Indonesia)  </option>
            <option value="119">Eastern Island, Midway Islands</option>
            <option value="120">Ebeye, Marshall Islands </option>
            <option value="121">Ecuador</option>
            <option value="122">Egypt </option>
            <option value="123">Eire (Ireland)  </option>
            <option value="124">El Salvador  </option>
            <option value="125">Ellice Islands (Tuvalu)</option>
            <option value="126">Elobey Islands (Equatorial Guinea)</option>
            <option value="127">Enderbury Island (Kiribati)  </option>
            <option value="128">England (Great Britain and Northern Ireland) </option>
            <option value="129">Equatorial Guinea</option>
            <option value="130">Eritrea </option>
            <option value="131">Estonia</option>
            <option value="132">Ethiopia</option>
            <option value="133">Fakaofo (Western Samoa)  </option>
            <option value="134">Falkland Islands </option>
            <option value="135">Fanning Island (Kiribati) </option>
            <option value="136">Faroe Islands</option>
            <option value="137">Fernando Po (Equatorial Guinea)  </option>
            <option value="138">Fezzan (Libya)</option>
            <option value="139">Fiji </option>
            <option value="140">Finland </option>
            <option value="141">Formosa (Taiwan)</option>
            <option value="142">France</option>
            <option value="143">Frederiksted, US Virgin Island  </option>
            <option value="144">French Guiana  </option>
            <option value="145">French Oceania (French Polynesia)</option>
            <option value="146">French Polynesia</option>
            <option value="147">French Somaliland (Djibouti)</option>
            <option value="148">French Territory of the Afars and Issas (Djibouti) </option>
            <option value="149">French West Indies (Guadeloupe or Martinique) </option>
            <option value="150">Friendly Islands (Tonga) </option>
            <option value="151">Fujairah (United Arab Emirates)</option>
            <option value="152">Futuna (Wallis and Futuna Islands)</option>
            <option value="153">Gabon </option>
            <option value="154">Gambia</option>
            <option value="155">Gambier (French Polynesia)</option>
            <option value="156">Georgia, Republic of</option>
            <option value="157">Germany </option>
            <option value="158">Ghana </option>
            <option value="159">Gibraltar  </option>
            <option value="160">Gilbert Islands (Kiribati) </option>
            <option value="161">Goa (India)</option>
            <option value="162">Gozo Island (Malta)  </option>
            <option value="163">Grand Comoro (Comoros)  </option>
            <option value="164">Great Britain and Northern Ireland </option>
            <option value="165">Greece</option>
            <option value="166">Greenland</option>
            <option value="167">Grenada  </option>
            <option value="168">Grenadines (St Vincent and the Grenadines)</option>
            <option value="169">Guadeloupe  </option>
            <option value="170">Guam (US Possession)  </option>
            <option value="171">Guatemala</option>
            <option value="172">Guernsey, Channel Islands (Great Britain)</option>
            <option value="173">Guinea</option>
            <option value="174">Guinea-Bissau  </option>
            <option value="175">Guyana</option>
            <option value="176">Hainan Island (China)</option>
            <option value="177">Haiti</option>
            <option value="178">Hashemite Kingdom (Jordan)  </option>
            <option value="179">Hervey (Cook Islands) (New Zealand) </option>
            <option value="180">Hivaoa (French Polynesia)  </option>
            <option value="181">Holland (Netherlands)</option>
            <option value="502">Holy See</option>
            <option value="182">Honduras </option>
            <option value="183">Hong Kong</option>
            <option value="184">Howland Island</option>
            <option value="185">Huahine (French Polynesia)</option>
            <option value="186">Huan Island (New Caledonia)  </option>
            <option value="187">Hungary  </option>
            <option value="188">Iceland</option>
            <option value="189">India</option>
            <option value="190">Indonesia </option>
            <option value="191">Iran </option>
            <option value="192">Iraq </option>
            <option value="193">Ireland</option>
            <option value="194">Irian Barat (Indonesia)  </option>
            <option value="195">Isle of Man (Great Britain)  </option>
            <option value="196">Isle of Pines (New Caledonia)  </option>
            <option value="197">Isle of Pines, West Indies (Cuba)  </option>
            <option value="198">Israel  </option>
            <option value="199">Italy</option>
            <option value="97">Ivory Coast</option>
            <option value="200">Jamaica  </option>
            <option value="201">Japan  </option>
            <option value="202">Jarvis Island</option>
            <option value="203">Jersey (Channel Islands) (Great Britain)  </option>
            <option value="204">Johnston Island</option>
            <option value="205">Johore (Malaysia)</option>
            <option value="206">Jordan</option>
            <option value="207">Kalymnos (Greece)  </option>
            <option value="208">Kampuchea (Cambodia) </option>
            <option value="209">Karpathos (Greece)  </option>
            <option value="210">Kassos (Greece) </option>
            <option value="211">Kastellorizon (Greece)  </option>
            <option value="212">Kazakhstan  </option>
            <option value="213">Kedah (Malaysia) </option>
            <option value="214">Keeling Islands (Australia)  </option>
            <option value="215">Kelantan (Malaysia)  </option>
            <option value="216">Kenya </option>
            <option value="217">Kingman Reef</option>
            <option value="218">Kingshill, US Virgin Islands</option>
            <option value="219">Kiribati</option>
            <option value="220">Korea, Democratic People's Republic of (North Korea)</option>
            <option value="221">Korea, Republic of (South Korea) </option>
            <option value="222">Koror </option>
            <option value="223">Kos (Greece) </option>
            <option value="505">Kosovo</option>
            <option value="224">Kosrae, Micronesia </option>
            <option value="225">Kowloon (Hong Kong)</option>
            <option value="226">Kuwait </option>
            <option value="227">Kwajalein, Marshall Islands</option>
            <option value="228">Kyrgyzstan</option>
            <option value="229">Labrador (Canada)  </option>
            <option value="230">Labuan (Malaysia)</option>
            <option value="231">Laos  </option>
            <option value="232">Latvia  </option>
            <option value="233">Lebanon  </option>
            <option value="234">Leipsos (Greece) </option>
            <option value="235">Leros (Greece)</option>
            <option value="236">Les Saints Island (Guadeloupe)</option>
            <option value="237">Lesotho</option>
            <option value="238">Liberia </option>
            <option value="239">Libya  </option>
            <option value="240">Liechtenstein </option>
            <option value="241">Lithuania  </option>
            <option value="242">Lord Howe Island (Australia)</option>
            <option value="243">Loyalty Islands (New Caledonia)</option>
            <option value="244">Luxembourg </option>
            <option value="245">Macao </option>
            <option value="246">Macau (Macao)  </option>
            <option value="247">Macedonia</option>
            <option value="248">Madagascar  </option>
            <option value="249">Madeira Islands (Portugal)  </option>
            <option value="250">Majuro, Marshall Islands</option>
            <option value="251">Malacca (Malaysia)  </option>
            <option value="252">Malagasy Republic (Madagascar) </option>
            <option value="253">Malawi</option>
            <option value="254">Malaya (Malaysia)</option>
            <option value="255">Malaysia  </option>
            <option value="256">Maldives  </option>
            <option value="257">Mali</option>
            <option value="258">Malta  </option>
            <option value="259">Manahiki (New Zealand) </option>
            <option value="260">Manchuria (China)</option>
            <option value="261">Mangaia (Cook Islands) (New Zealand)</option>
            <option value="262">Manua Islands, American Samoa</option>
            <option value="263">Manuai (Cook Islands) (New Zealand) </option>
            <option value="264">Marie Galante (Guadeloupe)</option>
            <option value="265">Marquesas Islands (French Polynesia)</option>
            <option value="266">Marshall Islands </option>
            <option value="267">Martinique</option>
            <option value="268">Mauke (Cook Islands) (New Zealand) </option>
            <option value="269">Mauritania</option>
            <option value="270">Mauritius </option>
            <option value="271">Mayotte (France) </option>
            <option value="272">Melilla (Spain)</option>
            <option value="273">Mexico </option>
            <option value="274">Micronesia, Federated States of  </option>
            <option value="275">Midway Islands</option>
            <option value="276">Miquelon (St Pierre and Miquelon)</option>
            <option value="277">Mitiaro (Cook Islands) (New Zealand) </option>
            <option value="278">Moheli (Comoros)</option>
            <option value="279">Moldova</option>
            <option value="280">Monaco (France) </option>
            <option value="281">Mongolia  </option>
            <option value="506">Montenegro</option>
            <option value="282">Montserrat</option>
            <option value="283">Moorea (French Polynesia) </option>
            <option value="284">Morocco  </option>
            <option value="285">Mozambique </option>
            <option value="286">Muscat (Oman)  </option>
            <option value="287">Myanmar (Burma)</option>
            <option value="288">Namibia  </option>
            <option value="289">Nansil Islands (Ryukyu Islands) (Japan)  </option>
            <option value="290">Nauru  </option>
            <option value="291">Navassa Island</option>
            <option value="292">Negri Sembilan (Malaysia)  </option>
            <option value="293">Nepal  </option>
            <option value="294">Netherlands  </option>
            <option value="295">Netherlands Antilles </option>
            <option value="296">Netherlands West Indies (Netherlands Antilles)  </option>
            <option value="297">Nevis (St Christopher and Nevis)  </option>
            <option value="298">New Britain (Papua New Guinea)  </option>
            <option value="299">New Caledonia  </option>
            <option value="300">New Hanover (Papua New Guinea)</option>
            <option value="301">New Hebrides (Vanuatu)</option>
            <option value="302">New Ireland (Papua New Guinea) </option>
            <option value="303">New South Wales (Australia)</option>
            <option value="304">New Zealand </option>
            <option value="305">Newfoundland (Canada) </option>
            <option value="306">Nicaragua</option>
            <option value="307">Niger  </option>
            <option value="308">Nigeria</option>
            <option value="309">Nissiros (Greece) </option>
            <option value="310">Niue (New Zealand) </option>
            <option value="311">Norfolk Island (Australia)</option>
            <option value="312">North Borneo (Malaysia) </option>
            <option value="313">North Korea (Korea, Democratic People's Republic of)</option>
            <option value="314">Northern Ireland(Great Britain and Northern Ireland)</option>
            <option value="315">Northern Mariana Islands  </option>
            <option value="316">Norway</option>
            <option value="317">Nukahiva (French Polynesia)</option>
            <option value="318">Nukunonu (Western Samoa)</option>
            <option value="319">Nyasaland (Malawi)  </option>
            <option value="320">Ocean Island (Kiribati)  </option>
            <option value="321">Okinawa (Ryukyu Islands) (Japan) </option>
            <option value="322">Oman  </option>
            <option value="510">Other</option>
            <option value="323">Pago Pago, American Samoa </option>
            <option value="324">Pahang (Malaysia)  </option>
            <option value="325">Pakistan  </option>
            <option value="326">Palau See DMM G  </option>
            <option value="507">Palestinian Territories</option>
            <option value="327">Palmerston (Avarua) (New Zealand)  </option>
            <option value="328">Palmyra Island</option>
            <option value="329">Panama</option>
            <option value="330">Papua New Guinea  </option>
            <option value="331">Paraguay </option>
            <option value="332">Parry (Cook Islands) (New Zealand)  </option>
            <option value="333">Patmos (Greece) </option>
            <option value="334">Pemba (Tanzania)</option>
            <option value="335">Penang (Malaysia)  </option>
            <option value="336">Penghu Islands (Taiwan)</option>
            <option value="337">Penon de Velez de la Gomera (Spain) </option>
            <option value="338">Penrhyn (Tongareva) (New Zealand)  </option>
            <option value="339">Perak (Malaysia) </option>
            <option value="340">Perlis (Malaysia) </option>
            <option value="341">Persia (Iran)  </option>
            <option value="342">Peru</option>
            <option value="343">Pescadores Islands (Taiwan)</option>
            <option value="344">Petite Terre (Guadeloupe)  </option>
            <option value="345">Philippines</option>
            <option value="346">Pitcairn Island </option>
            <option value="348">Pohnpei, Micronesia</option>
            <option value="347">Poland </option>
            <option value="349">Portugal</option>
            <option value="350">Province Wellesley (Malaysia)  </option>
            <option value="351">Puerto Rico  </option>
            <option value="352">Pukapuka (New Zealand)</option>
            <option value="353">Qatar  </option>
            <option value="354">Queensland (Australia)  </option>
            <option value="355">Quemoy (Taiwan)</option>
            <option value="356">Raiatea (French Polynesia) </option>
            <option value="357">Rakaanga (New Zealand)  </option>
            <option value="358">Rapa (French Polynesia)</option>
            <option value="359">Rarotonga (Cook Islands) (New Zealand) </option>
            <option value="360">Ras al Kaimah (United Arab Emirates)</option>
            <option value="361">Redonda (Antigua and Barbuda) </option>
            <option value="362">Reunion  </option>
            <option value="363">Rhodesia (Zimbabwe)</option>
            <option value="364">Rio Muni (Equatorial Guinea)  </option>
            <option value="365">Rodos (Greece)  </option>
            <option value="366">Rodrigues (Mauritius)</option>
            <option value="367">Romania  </option>
            <option value="368">Rota, Northern Mariana Islands </option>
            <option value="369">Russia </option>
            <option value="370">Rwanda</option>
            <option value="371">Saba (Netherlands Antilles) </option>
            <option value="372">Sabah (Malaysia) </option>
            <option value="373">Saint Bartholomew (Guadeloupe)  </option>
            <option value="374">Saint Christopher (St Kitts) and Nevis</option>
            <option value="375">Saint Croix, US Virgin Islands</option>
            <option value="376">Saint Eustatius (Netherlands Antilles) </option>
            <option value="377">Saint Helena  </option>
            <option value="378">Saint John, US Virgin Islands</option>
            <option value="379">Saint Kitts (St Christopher and Nevis) </option>
            <option value="380">Saint Lucia</option>
            <option value="381">Saint Maarten (Netherlands Antilles)  </option>
            <option value="382">Saint Martin (Guadeloupe)  </option>
            <option value="383">Saint Martin (Netherlands Antilles)</option>
            <option value="384">Saint Pierre and Miquelon  </option>
            <option value="385">Saint Thomas, US Virgin Islands</option>
            <option value="386">Saint Vincent and the Grenadines </option>
            <option value="387">Saipan, Northern Mariana Islands </option>
            <option value="388">Salvador (El Salvador)  </option>
            <option value="389">Samoa, American  </option>
            <option value="390">San Marino</option>
            <option value="391">Sand Island, Midway Islands</option>
            <option value="392">Santa Cruz Islands (Solomon Island)  </option>
            <option value="393">Sao Tome and Principe </option>
            <option value="394">Sarawak (Malaysia)  </option>
            <option value="395">Sark, Channel Islands (Great Britain)  </option>
            <option value="396">Saudi Arabia  </option>
            <option value="397">Savage Island (Niue) (New Zealand)  </option>
            <option value="398">Savaii Island (British) (Western Samoa)  </option>
            <option value="399">Scotland (Great Britain and Northern Ireland) </option>
            <option value="400">Selangor (Malaysia) </option>
            <option value="401">Senegal</option>
            <option value="508">Serbia</option>
            <option value="402">Serbia-Montenegro  </option>
            <option value="403">Seychelles</option>
            <option value="404">Sharja (United Arab Emirates)  </option>
            <option value="405">Shikoku (Japan)  </option>
            <option value="406">Siam (Thailand)  </option>
            <option value="407">Sierra Leone </option>
            <option value="408">Sikkim (India) </option>
            <option value="409">Singapore</option>
            <option value="410">Slovak Republic  </option>
            <option value="411">Slovenia  </option>
            <option value="412">Society Islands (French Polynesia)</option>
            <option value="413">Solomon Islands </option>
            <option value="414">Somali Democratic Republic (Somalia)</option>
            <option value="415">Somalia</option>
            <option value="416">Somaliland (Somalia)</option>
            <option value="417">South Africa  </option>
            <option value="418">South Australia (Australia)  </option>
            <option value="419">South Georgia (Falkland Islands)  </option>
            <option value="420">South Korea (Korea, Republic of)  </option>
            <option value="509">South Sudan</option>
            <option value="421">South-West Africa (Namibia)</option>
            <option value="422">Spain  </option>
            <option value="423">Spitzbergen (Norway)</option>
            <option value="424">Sri Lanka </option>
            <option value="425">Ste Marie de Madagascar (Madagascar) </option>
            <option value="426">Sudan </option>
            <option value="427">Suriname </option>
            <option value="428">Suwarrow Islands (New Zealand)  </option>
            <option value="429">Swain's Island, American Samoa</option>
            <option value="430">Swan Islands (Honduras)</option>
            <option value="431">Swaziland</option>
            <option value="432">Sweden</option>
            <option value="433">Switzerland  </option>
            <option value="434">Symi (Greece)</option>
            <option value="503">Syria</option>
            <option value="435">Syrian Arab Republic</option>
            <option value="436">Tahaa (French Polynesia)  </option>
            <option value="437">Tahiti (French Polynesia)</option>
            <option value="438">Taiwan </option>
            <option value="439">Tajikistan  </option>
            <option value="440">Tanzania  </option>
            <option value="441">Tasmania (Australia) </option>
            <option value="442">Tchad (Chad) </option>
            <option value="443">Thailand  </option>
            <option value="444">Thursday Island (Australia) </option>
            <option value="445">Tibet (China)  </option>
            <option value="446">Tilos (Greece) </option>
            <option value="447">Timor (Indonesia) </option>
            <option value="448">Tinian, Northern Mariana Islands</option>
            <option value="449">Tobago (Trinidad and Tobago)  </option>
            <option value="450">Togo</option>
            <option value="451">Tokelau (Union) Group (Western Samoa) </option>
            <option value="452">Tonga </option>
            <option value="453">Tongareva (New Zealand)  </option>
            <option value="454">Tori Shima (Ryukyu Islands) (Japan)  </option>
            <option value="455">Torres Island (Vanuatu)  </option>
            <option value="456">Trans-Jordan (Hashemite Kingdom) (Jordan) </option>
            <option value="457">Transkei (South Africa)  </option>
            <option value="458">Trengganu (Malaysia)</option>
            <option value="459">Trinidad and Tobago </option>
            <option value="460">Tripolitania (Libya)</option>
            <option value="461">Tristan da Cunha </option>
            <option value="462">Trucial States (United Arab Emirates) </option>
            <option value="463">Truk  </option>
            <option value="464">Tuamotou (French Polynesia)  </option>
            <option value="465">Tubuai (French Polynesia)  </option>
            <option value="466">Tunisia </option>
            <option value="467">Turkey </option>
            <option value="468">Turkmenistan </option>
            <option value="469">Turks and Caicos Islands  </option>
            <option value="470">Tutuila Island, American Samoa</option>
            <option value="471">Tuvalu </option>
            <option value="472">Uganda</option>
            <option value="475">Ukraine</option>
            <option value="473">Umm Said (Qatar)</option>
            <option value="474">Umm al Quaiwain (United Arab Emirates) </option>
            <option value="476">Union Group (Western Samoa) </option>
            <option value="477">United Arab Emirates</option>
            <option value="504">United Kingdom</option>
            <option value="479">Upolu Island (Western Samoa) </option>
            <option value="480">Uruguay</option>
            <option value="481">Uzbekistan</option>
            <option value="482">Vanuatu</option>
            <option value="483">Vatican City  </option>
            <option value="484">Venezuela</option>
            <option value="485">Victoria (Australia)</option>
            <option value="486">Vietnam</option>
            <option value="487">Virgin Islands </option>
            <option value="488">Wake Island</option>
            <option value="489">Wales (Great Britain and Northern Ireland)</option>
            <option value="490">Wallis and Futuna Islands  </option>
            <option value="491">Wellesley, Province (Malaysia) </option>
            <option value="492">West New Guinea (Indonesia)  </option>
            <option value="493">Western Australia (Australia)</option>
            <option value="494">Western Samoa </option>
            <option value="495">Yap, Micronesia</option>
            <option value="496">Yemen </option>
            <option value="497">Yugoslavia</option>
            <option value="498">Zafarani Islands (Spain) </option>
            <option value="499">Zambia</option>
            <option value="500">Zanzibar (Tanzania)  </option>
            <option value="501">Zimbabwe</option></select>
        </div>
      </div>
    </div>
    <div class="form-group mt40">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12 text-left">
              <div class="row">
                <label>City</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <input type="text" name="city" maxlength="64" value="" id="city" class="form-control" title="City is required">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row"> </div>
        </div>
      </div>
    </div>
    <div class="form-group mt40">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12 text-left">
              <div class="row">
                <label>County</label>&nbsp;
                <span class="optional">(optional)</span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <input type="text" name="county" maxlength="64" value="" id="county" class="form-control" title="County is optional">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row"> </div>
        </div>
      </div>
    </div>
    <div class="form-group mt40">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12 text-left">
              <div class="row">
                <label>State</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <select name="state" id="state" class="select drop-down-box" title="State is required for United States of America" disabled=""><option value="">- Select One</option>
                  <option value="AL">ALABAMA</option>
                  <option value="AK">ALASKA</option>
                  <option value="AS">AMERICAN SAMOA</option>
                  <option value="AZ">ARIZONA </option>
                  <option value="AR">ARKANSAS</option>
                  <option value="AA">Armed Forces Americas</option>
                  <option value="AE">Armed Forces Europe</option>
                  <option value="AP">Armed Forces Pacific</option>
                  <option value="CA">CALIFORNIA </option>
                  <option value="CO">COLORADO </option>
                  <option value="CT">CONNECTICUT</option>
                  <option value="DE">DELAWARE</option>
                  <option value="DC">DISTRICT OF COLUMBIA</option>
                  <option value="FM">FEDERATED STATES OF MICRONESIA</option>
                  <option value="FL">FLORIDA</option>
                  <option value="GA">GEORGIA</option>
                  <option value="GU">GUAM </option>
                  <option value="HI">HAWAII</option>
                  <option value="ID">IDAHO</option>
                  <option value="IL">ILLINOIS</option>
                  <option value="IN">INDIANA</option>
                  <option value="IA">IOWA</option>
                  <option value="KS">KANSAS</option>
                  <option value="KY">KENTUCKY</option>
                  <option value="LA">LOUISIANA</option>
                  <option value="ME">MAINE</option>
                  <option value="MH">MARSHALL ISLANDS</option>
                  <option value="MD">MARYLAND</option>
                  <option value="MA">MASSACHUSETTS</option>
                  <option value="MI">MICHIGAN</option>
                  <option value="MN">MINNESOTA</option>
                  <option value="MS">MISSISSIPPI</option>
                  <option value="MO">MISSOURI</option>
                  <option value="MT">MONTANA</option>
                  <option value="NE">NEBRASKA</option>
                  <option value="NV">NEVADA</option>
                  <option value="NH">NEW HAMPSHIRE</option>
                  <option value="NJ">NEW JERSEY</option>
                  <option value="NM">NEW MEXICO</option>
                  <option value="NY">NEW YORK</option>
                  <option value="NC">NORTH CAROLINA</option>
                  <option value="ND">NORTH DAKOTA</option>
                  <option value="MP">NORTHERN MARIANA ISLANDS</option>
                  <option value="OH">OHIO</option>
                  <option value="OK">OKLAHOMA</option>
                  <option value="OR">OREGON</option>
                  <option value="PW">PALAU</option>
                  <option value="PA">PENNSYLVANIA</option>
                  <option value="PR">PUERTO RICO</option>
                  <option value="RI">RHODE ISLAND</option>
                  <option value="SC">SOUTH CAROLINA</option>
                  <option value="SD">SOUTH DAKOTA</option>
                  <option value="TN">TENNESSEE</option>
                  <option value="TX">TEXAS</option>
                  <option value="UT">UTAH</option>
                  <option value="VT">VERMONT</option>
                  <option value="VI">VIRGIN ISLANDS</option>
                  <option value="VA">VIRGINIA </option>
                  <option value="WA">WASHINGTON</option>
                  <option value="WV">WEST VIRGINIA</option>
                  <option value="WI">WISCONSIN</option>
                  <option value="WY">WYOMING</option></select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5 ml20 postal-code">
          <div class="row">
            <div class="col-sm-12 text-left">
              <div class="row">
                <label>Postal Code</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <input type="text" name="zipCode" maxlength="13" value="" id="postalCode" class="form-control" title="Postal code is required">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group mt40">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12 text-left">
              <div class="row">
                <label>Email Address</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <input type="text" name="email" maxlength="255" value="" id="email" class="form-control" title="Email address is required">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5 ml20 phone">
          <div class="row">
            <div class="col-sm-12 text-left">
              <div class="row">
                <label>Mobile Phone</label>&nbsp;
                <span class="optional">(optional)</span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <input type="text" name="phone" maxlength="14" value="" id="phone" class="form-control" title="Mobile phone is optional">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group mt40">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12 text-left">
              <div class="row">
                <label>Email Language Preference</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <select name="language" id="language" class="select drop-down-box" title="E-mail language preference is required"><option value="English">English</option>

                  <option value="Spanish">Spanish</option></select>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="form-group mt40">
      <div class="col-sm-12">
        <label for="check1"><input type="checkbox" id="check1" value="option1"> Checkbox 1</label>
        <label for="check1"><input type="checkbox" id="check1" value="option1"> Checkbox 1</label>
        <input type="radio" id="radio1" name="radio" value="option1"><label for="radio">Radio 1</label>
        <input type="radio" id="radio2" name="radio" value="option1"><label for="radio">Radio 2</label>
      </div>
    </div>
  </div>
</div>




