<div class="manage-section with-padding-bottom-30">

<datepicker date-day-title="selected year">
    <input ng-model="date"/>
</datepicker>
<datepicker date-format="MM/dd/yy" selector="form-control" width="40px">
    <div class="input-group">
        <input class="form-control" placeholder="Choose a date"/>
        <span class="input-group-addon" style="cursor: pointer">
        <i class="fa fa-lg fa-calendar"></i>
        </span>
    </div>
</datepicker>
<input date-time format="yyyy-MM-dd HH:mm">
  <button lang="en" class="uscis-button col-span-12 mobile-full right-to-left uscis-button-blue" ng-click="navigate('/createAppointment')">Create New Appointment</button><br /><br />
  <button lang="en" class="uscis-button col-span-12 mobile-full right-to-left uscis-button-blue" ng-click="navigate('/createAppointment')">Manage Appointment</button>

</div>
