<div class="manage-section with-padding-bottom-30">

<datepicker date-day-title="selected year">
    <input ng-model="date"/>
</datepicker>
<datepicker date-format="MM/dd/yy" selector="form-control" width="40px">
    <div class="input-group">
        <input class="form-control" placeholder="Choose a date"/>
        <span class="input-group-addon" style="cursor: pointer">
        <i class="fa fa-lg fa-calendar"></i>
        </span>
    </div>
</datepicker>
<input date-time format="yyyy-MM-dd HH:mm">
  <button lang="en" class="uscis-button col-span-12 mobile-full right-to-left uscis-button-blue" ng-click="navigate('/createAppointment')">Create and Appointment</button>
  <h2 lang="en">Manage an Appointment</h2>
  <p lang="en">You will need the PIN number and confirmation number on the appointment letter to change your appointment.</p>
    <div>

         <div class="uscis-row">
           <div class="col-span-4 mobile-full right-to-left rtl-direction">
             <div data="" class="uscis-component"><div class="uscis-input-wrapper uscis_question required appointment_confirmation_number"><label for="appointment_confirmation_number"><label for="appointment_confirmation_number" class="uscis-label">Confirmation Number <span class="blue-text">(required)</span></label><div class="uscis-collection-wrapper uscis-question-wrapper"><input type="text" data-parsley-id="3188" id="appointment_confirmation_number" name="appointment[confirmation_number]" class="uscis-input" data-parsley-required-message="You should provide a response." data-parsley-required="true"></div><div class="uscis-row error-container"><span id="parsley-id-6306"></span><span id="parsley-id-3188"></span></div></label></div></div>
           </div>
           <div class="col-span-4 mobile-full with-margin-right-30 right-to-left rtl-direction">
             <div data="" class="uscis-component"><div class="uscis-input-wrapper uscis_question required appointment_pin"><label for="appointment_pin"><label for="appointment_pin" class="uscis-label">PIN Number <span class="blue-text">(required)</span></label><div class="uscis-collection-wrapper uscis-question-wrapper"><input type="text" data-parsley-id="4530" id="appointment_pin" name="appointment[pin]" class="uscis-input" data-parsley-required-message="You should provide a response." data-parsley-required="true"></div><div class="uscis-row error-container"><span id="parsley-id-0115"></span><span id="parsley-id-4530"></span></div></label></div></div>
           </div>
           <input type="hidden" id="appointment_international" name="appointment[international]">
           <div class="col-span-2 mobile-full">
             <label class="uscis-label hidden-mobile">&nbsp;</label>
             <button lang="en" class="uscis-button col-span-12 mobile-full right-to-left uscis-button-blue" data-type="reschedule-appointment" id="reschedule_query" type="submit" name="button"><span>Next</span></button>
           </div>
         </div>
    </div>
  </div>

